@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	font: 100%/1.4 Playwrite New Zealand Basic;
     background-color: #4C7EAD;
     margin: 0;
     padding: 0;
     color: #222222;
}

.homePage {
	background: #222222;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #4C7EAD;
	text-align: center;
	margin: 10px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: ##F59E0F;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #9B7A45;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
	padding: 0px;
}
.footer {
	background: #777777;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}

a:link {
     color: #F59E0F;
}
a:visited {
     color: #F59E0F;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
